/* TYPE SCALE
===========================================
===========================================*/

.font-size\:s {
  font-size: var(--font-size-s);
}

.font-size\:base {
  font-size: var(--font-size-base);
}

.font-size\:l {
  font-size: var(--font-size-l);
}

.font-size\:xl {
  font-size: var(--font-size-xl);
}

.font-size\:2xl {
  font-size: var(--font-size-2xl);
}