/* BUTTON
===========================================
===========================================*/

.c-btn {
  background-color: var(--black);
  border-radius: var(--spacing-xs);
  color: var(--white);
  display: inline-block;
  padding: var(--spacing-xs) var(--spacing-m);
  border: 0;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.c-btn:hover {
  background-color: var(--grey-800);
  border: 0;
}

.c-btn:focus {
  outline: 3px solid gold;
}

.c-btn:active {
  outline: 3px solid gold;
}
