/* CARD
===========================================
===========================================*/

.c-card {
  background-color: var(--white);
  padding: var(--spacing-m) var(--spacing-m);
  border: var(--spacing-xs) solid var(--black);
  border-radius: var(--border-radius-s);
}

.c-card__title {
  font-weight: bold;
}
