/* HEADER
===========================================

===========================================*/

.c-header {
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
}

.c-logo {
  text-align: center;
  margin-bottom: var(--spacing-m);
}

.c-logo a {
  font-family: var(--font-accent);
  text-decoration: none;
}
