/*
NAV Primary
===========================================
  Navigation, of course.
===========================================
*/

.c-nav-primary {
  /* font-family: var(--font-accent); */
  list-style-type: none;
}

  .c-nav-primary a {
    color: var(--white);
    text-decoration: none;
    
  }
  
  .c-nav-primary a[aria-current="page"] {
    font-weight: bold;
  }    

    .c-nav-primary a:hover {
      text-decoration: underline;
    }

