/* CODE
===========================================
===========================================*/

code {
  background-color: var(--grey-100);
  border-radius: var(--spacing-xs);
  font-size: var(--font-size-base);
  padding: var(--spacing-2xs) var(--spacing-xs) var(--spacing-xs);
  vertical-align: bottom;
}