/* CODE
===========================================
===========================================*/

code {
  background-color: var(--grey-90);
  border-radius: var(--spacing-xs);
  font-size: var(--font-size-m);
  padding: var(--spacing-2xs) var(--spacing-xs) var(--spacing-xs);
}