/* VARIABLES
===========================================

===========================================*/


:root {
  --spacing-2xs: 0.1rem;  
  --spacing-xs: 0.25rem;    
  --spacing-s: 0.5rem;      
  --spacing-m: 1rem;      
  --spacing-l: 1.5rem;      
  --spacing-xl: 2rem;    
  --spacing-2xl: 3rem;  
  --spacing-3xl: 4rem;  

  /* Border radius */
  --border-radius-xs: var(--spacing-xs);
  --border-radius-s: var(--spacing-s);
  --border-radius: var(--spacing-m);


  --font-base: "system-ui", serif;
  --font-accent: "system-ui", serif;

  --measure: 70ch;


  /* Font sizes (generate from https://www.fluid-type-scale.com */
  --font-size-s:    clamp(0.89rem, 0.09vw + 0.87rem, 0.94rem);
  --font-size-base: clamp(1rem, 0.23vw + 0.94rem, 1.13rem);
  --font-size-l:    clamp(1.13rem, 0.41vw + 1.02rem, 1.35rem);
  --font-size-xl:   clamp(1.27rem, 0.64vw + 1.1rem, 1.62rem);
  --font-size-2xl:  clamp(1.42rem, 0.95vw + 1.19rem, 1.94rem);
  --font-size-3xl:  clamp(1.6rem, 1.33vw + 1.27rem, 2.33rem);
  --font-size-4xl:  clamp(1.8rem, 1.81vw + 1.35rem, 2.8rem);  


  /* Line heights */
  --line-height-none:   1;
  --line-height-xs:     1.1;
  --line-height-normal: 1.5;
  
    /* Flow space */
  --flow-space: 1.5em;

  /* Greyscale */
  --white:    hsla(0,0%,100%,1);

  --grey-100:   hsla(214,10%,96%,1);  
  --grey-200:   hsla(214,10%,90%,1);
  --grey-300:   hsla(214,10%,75%,1);
  --grey-400:   hsla(214,10%,65%,1);
  --grey-500:   hsla(214,10%,50%,1);
  --grey-600:   hsla(214,10%,45%,1);
  --grey-700:   hsla(214,10%,40%,1);
  --grey-800:   hsla(214,10%,30%,1);
  --grey-900:   hsla(214,15%,20%,1);

  --black:    hsla(0,0%,0%,1);       
}